@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    min-width: 375px;

}

header{
    background-color: #3a004b;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #3a004b solid 15px;
    gap: 60px;
    max-height: 250px;
    position: relative;
}

.perfil{
    margin-top: 250px;
    margin-left: 40px;
}

img{
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 150px;
    outline: solid 10px #3a004b;
    border: solid 7px #745c7b;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    text-shadow: 2px 2px 0px #745c7b;
    margin-top: 80px;
}

header h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

section {
    display: flex;
    flex-direction: row;
    
}

aside{
    background-color: #745c7b;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    min-width: 300px;
    max-width: 350px;
    border-top: #745c7b solid 180px;



}

main{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 20px;
}

.fab{
    position: fixed;
    bottom:15px;
    right:20px;
  }
  
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #3a004b;
    right: 0;
    bottom: 0;
    z-index: 20;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
  }
  
  .fab button.main:before{
    content: '';
  }
  
  @keyframes flash {
        0% {
        background-color: #3a004b;
        border: 0px solid #3a004b;
        }

        50% {
        background-color: #6c1586;
        border: 5px solid #3a004b;       
        }

        75%{
        background-color: #6c1586;  
        border: 5px solid #3a004b;  
        }

        100% {
        background-color: #3a004b;
        border: 15px solid #3a004b;

        
        }
  }